#header{
    height: 32px;
    background-color: #f2f2f2;
    font-size: 12px;
    text-align: center;
    line-height: 32px;
    color: #999999;
    font-family: "Microsoft YaHei", tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}
#login-info{
    width: 218px;
    height: 100%;
    float: left;
}
#quick-menu{
    width: 530px;
    height: 100%;
    float: right;
}
#header a{
    color: #999999;
}
#login-info a:hover{
    color: #ff0000;
}
#quick-menu .icon-03{
    color: #ff0000;
    font-size: 12px;
}
#login-info .login{
    margin:0 10px;
}
#quick-menu .icon-daohang{
    color: #ff0000;
    font-size: 12px;
}
#quick-menu .icon-msnui-tel{
    color: #ff0000;
    font-size: 12px;
}
#quick-menu .menu{
    float: left;
    padding: 0 10px;
}
#quick-menu .menu-hd:hover{
    background-color: #fff;
}
#quick-menu .menu:hover a{
    color: #f00;
    text-decoration: underline;
}
#quick-menu .triangle::after{
    content: '';
    width: 0;
    border-style: solid;
    border-width: 6px;
    border-color: #bbb transparent transparent transparent;
}